<h1>Add a new todo</h1>
<form method="post" action="/todos/new">
    <input type="text" name="username">
    <input type="text" name="title">
    <input type="text" name="content">
    <button type="submit">Add</button>
</form>